<div class="contactSidebar">
  <div class="teaser collection">
    <a class=" imageTeaser _hrl" href="https://www.jeanlouisdavid.com/collections/collection-printemps-ete_t46/1">    <img src="https://static1.jeanlouisdavid.com/teasers/0/47/0/@/20868434-0-20868434-jld-ss2020-13-orig-1.jpg" alt="">
      <div class="teaser-frame">
        <p class="title">Collection Crazy About JLD</p>

        <p class="author">by Jean Louis David</p>

        <p class="time">Printemps/Eté 2020</p>
      </div>
    </a>            </div>


  <div class="teaser">
    <div class="carousel-block product">
      <a class=" _hrl" href="/produits/shampooing-go-repair_p139/1">        <div class="thumb">
        <img src="https://static1.jeanlouisdavid.com/products/9/13/9/@/139-shampooing-go-repair-product_teaser-3.png" alt=" Enrichi en extrait de Caviar, le shampooing GO REPAIR aide à la réparation de votre chevelure. Une formule sans silicone, sans parabène et sans...">
      </div>
        <div class="productPadding">
          <div class="title">Bon pour vos cheveux</div>
          <a href="/produits/shampooing-go-repair_p139/1" target="_blank" class="descLink">
            <div class="description">Shampooing GO REPAIR </div>
          </a>

          <div class="popUp">
            <p>Découvrez</p>
          </div>
        </div>
      </a></div>        </div>
</div>
