<div class="wide80 lineHeight0">
  <div class="carusel">
    <div class="positionRel">
      <div class="positionRel hpSlider">
              <span class="hrl 45CBCBC0C21322BA1321B41321B4CCCCCC194D434A49484FC346C24B4AC4464B19424F4E1321B44AC1CB464248431321B41E4F49C44AC0C143494BC143C24F46494B43C44FC3C23F4A2C2B2B2C1321B42A hpSlide positionRel">
                                    <picture>
                                        <source media="(max-width: 640px)"
                                                srcset="https://static1.jeanlouisdavid.com/teasers/5/14/05/@/21149609-0-21149609-2020-04-site-reouverture-home-jld-1280x450-bis-375x225-1.jpg">
                                        <source media="(max-width: 1023px)"
                                                srcset="https://static1.jeanlouisdavid.com/teasers/5/14/05/@/21149609-0-21149609-2020-04-site-reouverture-home-jld-1280x450-bis-768x279-1.jpg">
                                        <img src="https://static1.jeanlouisdavid.com/teasers/5/14/05/@/21149609-0-21149609-2020-04-site-reouverture-home-jld-1280x450-bis-1280x450-1.jpg"
                                             alt=""> </picture>
                                    <div class="blockInfo blockInfoViewerImg">
                                        <div class="title">
                                            #ONVAPRENDRESOINDEVOUS
                                            <span>Conformément aux recommandations sanitaires en vigueur, nos salons de
                                                coiffure mettent tout en œuvre pour vous recevoir dans des conditions
                                                sanitaires parfaitement sûres.</span>
                            </div>
                            <div class="counter"></div>
                            <div class="line"></div>
                        </div>
                        </span>
      </div>
      <div class="blockPointsMobile blockPointHeight">
        <div class="pointLeft pointLeft--hp"></div>
        <div class="pointRight pointRight--hp"></div>
      </div>
    </div>
    <div class="blockInfo blockInfoViewer">
      <div class="blockPoints ">
        <div class="pointLeft pointLeft--hp"></div>
        <div class="pointRight pointRight--hp"></div>
      </div>
    </div>
  </div>
</div>
