<div class="wide80 lineHeight0 hide-desc">
  <div class="carusel">
    <picture>
      <source media="(max-width: 640px)" srcset="https://static1.jeanlouisdavid.com/articles/0/74/50/@/14668-une-chevelure-stylee-et-protegee-c-est-375x260-1.jpg">
      <source media="(max-width: 1023px)" srcset="https://static1.jeanlouisdavid.com/articles/0/74/50/@/14668-une-chevelure-stylee-et-protegee-c-est-736x279-1.jpg">
      <img src="https://static1.jeanlouisdavid.com/articles/0/74/50/@/14668-une-chevelure-stylee-et-protegee-c-est-1280x430-1.jpg" alt="Une chevelure stylée et protégée, c'est possible cet été !">
    </picture>
    <div class="text">Une chevelure stylée et protégée, c'est possible cet été !</div>
  </div>
</div>
