<div class="home" id="wb_body">
  <div id="wb_wrapper">
    <app-header></app-header>
    <div id="pageContent">

      <div id="mobileMenuBlock" class="wide78" data-tracking-category="Header" data-tracking-action="Clic rubriques">
        <div class="mainPadding">
          <div id="mobileMenuBlock__button">
            <a class="locationButton"></a>
          </div>
          <a href="/" class="headerLogoMobileWrapper">
            <img src="/web/skins/images/logo.png" class="headerLogoMobile"></a>
          <a class="mobileMenuButton fontAwesome">
            <span class="fa fa-bars"></span>
          </a>
        </div>
      </div>
      <app-home-head-img></app-home-head-img>

      <app-home-news></app-home-news>
    </div>
      <app-experts></app-experts>


    <div id="expertBlock" class="hpExpertBlock">
      <div class="wide78">

      </div>
    </div>


    <app-footer></app-footer>

  </div>
  <!-- /wb_footer -->
</div>
<!-- /wb_contents -->
