@import "~bpg-arial-caps/css/bpg-arial-caps.css";
@import "~bpg-arial/css/bpg-arial.css";
@import "~@fortawesome/fontawesome-free/css/fontawesome.css";
@import "assets/css/wb-auto-css.css";

#htopBarBlock {
  background-color: #000;
  height: 40px;
}

.wide80 {
  margin: 0 auto;
  width: 1280px
}

.text_center {
  text-align: left;
  margin-left: 20px;
}

