<div class="hpNewsBlock wide78 paddingBottom2">
  <div id="newsBlockMain">
    <div class="">
      <div class="mainPadding">
        <h2 class="h1 hpGridHeader">à la une</h2>

        <div class="hpLatest grids hpGrid clearfix">

          <div class="articleBlock1 hpArticleBlock" data-index="0" data-tracking-label="Comment protéger mes cheveux du soleil tout en restant stylée cet été ?">

            <div class="infoBlock">
              <div class="typeInfo">Soins solaires</div>
              <a href="/article/comment-proteger-mes-cheveux-du-soleil-tout-en-restant-stylee-cet-ete_a7450/1" class="title ">Comment protéger mes cheveux du soleil tout en
                restant...</a>
            </div>

            <span class="hrl 1321B44AC1CB464248431321B4424F4E4E4349CB1EC0C14FCB434C43C11E4E43C21E424543C443C3C51E4BC31EC24F484346481ECB4FC3CB1E43491EC143C2CB4A49CB1EC2CBC64843431E4243CB1E43CB433F4A2C2B23201321B42A">
                                            <picture>
                                                <source media="(max-width: 640px)"
                                                        srcset="https://static1.jeanlouisdavid.com/articles/0/74/50/@/14668-une-chevelure-stylee-et-protegee-c-est-342x240-1.jpg">
                                                <source media="(max-width: 1023px)"
                                                        srcset="https://static1.jeanlouisdavid.com/articles/0/74/50/@/14668-une-chevelure-stylee-et-protegee-c-est-344x240-1.jpg">
                                                <img src="https://static1.jeanlouisdavid.com/articles/0/74/50/@/14668-une-chevelure-stylee-et-protegee-c-est-373x240-1.jpg"
                                                     alt="Comment protéger mes cheveux du soleil tout en restant stylée cet été ?">
                                            </picture>
                                        </span>
            <p>L'été est la saison que vos cheveux redoutent le plus. Pourtant, rassurez-vous : rester stylée tout en protégeant vos cheveux sur la plage, c'est possible ! Adaptez votre routine capillaire...</p>
          </div>

          <div class="articleBlock1 hpArticleBlock " data-index="1" data-tracking-label="Charte Sécurité, Hygiène &amp; Santé">

            <div class="infoBlock">
              <div class="typeInfo">Actualités</div>
              <a href="/article/-onvaprendresoindevous_a7447/1" class="title">Charte
                Sécurité, Hygiène & Santé</a>
            </div>

            <span class="hrl 1321B44AC1CB464248431321B41E4F49C44AC0C143494BC143C24F46494B43C44FC3C23F4A2C2B2B2C1321B42A">
                                            <picture>
                                                <source media="(max-width: 640px)"
                                                        srcset="https://static1.jeanlouisdavid.com/articles/7/74/47/@/14665--onvaprendresoindevous-342x240-1.jpg">
                                                <source media="(max-width: 1023px)"
                                                        srcset="https://static1.jeanlouisdavid.com/articles/7/74/47/@/14665--onvaprendresoindevous-344x240-1.jpg">
                                                <img src="https://static1.jeanlouisdavid.com/articles/7/74/47/@/14665--onvaprendresoindevous-373x240-1.jpg"
                                                     alt="Charte Sécurité, Hygiène &amp; Santé"> </picture>
                                        </span>
            <p>#ONVAPRENDRESOINDEVOUS 1. À VOTRE ARRIVÉE DANS LE SALON, utilisez le gel hydro-alcoolique à votre disposition pour vous désinfecter les mains. RENOUVELEZ la désinfection aussi souvent que souhaité...</p>
          </div>

          <div class="articleBlock2 hpArticleBlock" data-index="2" data-tracking-label="Vrai-faux sur le masque capillaire">
            <div class="table">
              <div class="tableCell">
                                    <span class="hrl 1321B44AC1CB464248431321B4C4C14A461E444AC3C51EC2C3C11E48431E4E4AC2CAC3431E424AC04648484A46C1433F4A2C20201321B42A">
                                                    <div class="borderBlock">
                                                        <picture>
                                                            <source media="(max-width: 640px)"
                                                                    srcset="https://static1.jeanlouisdavid.com/articles/0/70/0/@/14656-vraux-faux-sur-le-masque-capillaire-85x85-2.jpg">
                                                            <source media="(max-width: 1023px)"
                                                                    srcset="https://static1.jeanlouisdavid.com/articles/0/70/0/@/14656-vraux-faux-sur-le-masque-capillaire-170x150-2.jpg">
                                                            <img src="https://static1.jeanlouisdavid.com/articles/0/70/0/@/14656-vraux-faux-sur-le-masque-capillaire-170x190-2.jpg"
                                                                 alt="Vrai-faux sur le masque capillaire"> </picture>
                                                        <div class="border"><img
                                                          src="/web/skins/images/border_line.png"></div>
                                                    </div>
                                                </span> </div>
              <div class="infoBlock">
                <div class="typeInfo">
                  Soins

                </div>
                <a href="/article/vrai-faux-sur-le-masque-capillaire_a700/1" class="title">Vrai-faux sur le masque capillaire</a>

                <p>Pour utiliser votre masque capillaire à bon escient, voici un vrai-faux pour vous faire oublier toutes les idées reçues que vous avez sur ce précieux produit cosmétique. Le masque capillaire...</p>

              </div>
            </div>
          </div>




          <div class="articleBlock2 hpArticleBlock" data-index="6" data-tracking-label="Masque capillaire : combien de temps dois-je le laisser poser ?">
            <div class="table">
              <div class="tableCell">
                                    <span class="hrl 1321B44AC1CB464248431321B44E4AC2CAC3431E424AC04648484A46C1431E424F4E414643491E4B431ECB434EC0C21E4B4F46C21E4D431E48431E484A46C2C243C11EC04FC243C13F4A2C2221211321B42A">
                                                    <div class="borderBlock">
                                                        <picture>
                                                            <source media="(max-width: 640px)"
                                                                    srcset="https://static1.jeanlouisdavid.com/articles/2/73/22/@/14225-top-chrono-a-vos-masques-85x85-1.png">
                                                            <source media="(max-width: 1023px)"
                                                                    srcset="https://static1.jeanlouisdavid.com/articles/2/73/22/@/14225-top-chrono-a-vos-masques-170x150-1.png">
                                                            <img src="https://static1.jeanlouisdavid.com/articles/2/73/22/@/14225-top-chrono-a-vos-masques-170x190-1.png"
                                                                 alt="Masque capillaire : combien de temps dois-je le laisser poser ?">
                                                        </picture>
                                                        <div class="border"><img
                                                          src="/web/skins/images/border_line.png"></div>
                                                    </div>
                                                </span> </div>
              <div class="infoBlock">
                <div class="typeInfo">
                  Soins

                </div>
                <a href="/article/masque-capillaire-combien-de-temps-dois-je-le-laisser-poser_a7322/1" class="title">Masque capillaire : combien de temps dois-je le
                  laisser poser ?</a>

                <p>On vous vante les bienfaits du masque capillaire à longueur de journée. Pourtant, une zone d'ombre demeure : combien de temps faut-il le laisser poser ? Une nuit, une heure, une minute ? Jean Louis...
                </p>

              </div>
            </div>
          </div>

        </div>
        <a href="/livenews/1" class="moreNews">Plus de news</a>
      </div>
    </div>
  </div>

  <div class="sidebar">
    <div class="sidebarWrap">
      <div class="singleBanner">
        <div class="item special">
                        <span target="_self" class="hrl 1321B4CB4A4C1321B4454F4E4E433FCB2B2B1321B42A">
                                        <picture>
                                            <source media="(max-width: 640px)"
                                                    srcset="https://static1.jeanlouisdavid.com/teasers/3/17/3/@/20868941-0-20868941-2020-03-jld-website-maj-home-push-homme-455x370-343x303-1.jpg">
                                            <source media="(max-width: 1023px)"
                                                    srcset="https://static1.jeanlouisdavid.com/teasers/3/17/3/@/20868941-0-20868941-2020-03-jld-website-maj-home-push-homme-455x370-402x215-1.jpg">
                                            <img src="https://static1.jeanlouisdavid.com/teasers/3/17/3/@/20868941-0-20868941-2020-03-jld-website-maj-home-push-homme-455x370-374x303-1.jpg"
                                                 alt=""> </picture>

                                        <div class="textBanner">
                                            <div class="info">TENDANCES</div>
                                            <div class="text">HOMME</div>
                                        </div>
                                        <span target="_self"
                                              class="hrl 1321B4CB4A4C1321B4454F4E4E433FCB2B2B1321B42A buttonGold">
                                            Découvrez les tendances Homme
                                        </span>
                        </span>
        </div>
      </div>
      <div class="wrap tracking-click-parent hpArticles" data-tracking-category="Les plus lus" data-tracking-action="Clic articles">
        <h2>Les plus lus</h2>

        <div class="articlePreviewBlock">
          <div class="articlePreview" data-tracking-label="Quelles différences entre des mèches et un balayage ?">
                            <span class="hrl 1321B44AC1CB464248431321B4CAC343484843C21E4B46444443C143494243C21E4349CBC1431E4B43C21E4E43424543C21E43CB1EC3491E414A484AC64A4C433F4A2122262A1321B42A articleThumbnail">
                                            <img src="https://static1.jeanlouisdavid.com/articles/1/23/91/@/3661-quelles-differences-entre-des-meches-article_preview-2.jpg"
                                                 alt="Quelles différences entre des mèches et un balayage ?">
                                            <div class="border"><img src="/web/skins/images/border_line.png"></div>
                                        </span>
            <div class="articleDescription">
              <p class="category">
                Coloration
              </p>

              <p class="articleTitle">
                <a href="/article/quelles-differences-entre-des-meches-et-un-balayage_a2391/1">
                  <span>Quelles différences entre des mèches et un balayage ?</span>
                </a>
              </p>
            </div>
          </div>
          <div class="articlePreview" data-tracking-label="Boucler mes cheveux lisses de façon permanente, une bonne idée ?">
                            <span class="hrl 1321B44AC1CB464248431321B4414FC3424843C11E4E43C21E424543C443C3C51E4846C2C243C21E4B431E444A424F491EC043C14E4A494349CB431EC349431E414F4949431E464B43433F4A212421231321B42A articleThumbnail">
                                            <img src="https://static1.jeanlouisdavid.com/articles/5/26/25/@/4385-boucler-mes-cheveux-lisses-de-facon-article_preview-2.jpg"
                                                 alt="Boucler mes cheveux lisses de façon permanente, une bonne idée ?">
                                            <div class="border"><img src="/web/skins/images/border_line.png"></div>
                                        </span>
            <div class="articleDescription">
              <p class="category">
                Coiffure
              </p>

              <p class="articleTitle">
                <a href="/article/boucler-mes-cheveux-lisses-de-facon-permanente-une-bonne-idee_a2625/1">
                                        <span>Boucler mes cheveux lisses de façon permanente, une
                                                        bonne...</span>
                </a>
              </p>
            </div>
          </div>
          <div class="articlePreview" data-tracking-label="Cheveux fins : comment choisir ma coupe pour obtenir plus de volume ?">
                            <span class="hrl 1321B44AC1CB464248431321B4424543C443C3C51E444649C21E424F4E4E4349CB1E42454F46C246C11E4E4A1E424FC3C0431EC04FC3C11E4F41CB434946C11EC048C3C21E4B431EC44F48C34E433F4A21222C2A1321B42A articleThumbnail">
                                            <img src="https://static1.jeanlouisdavid.com/articles/1/23/71/@/3631-cheveux-fins-comment-choisir-ma-coupe-article_preview-2.jpg"
                                                 alt="Cheveux fins : comment choisir ma coupe pour obtenir plus de volume ?">
                                            <div class="border"><img src="/web/skins/images/border_line.png"></div>
                                        </span>
            <div class="articleDescription">
              <p class="category">
                Coiffure
              </p>

              <p class="articleTitle">
                <a href="/article/cheveux-fins-comment-choisir-ma-coupe-pour-obtenir-plus-de-volume_a2371/1">
                                        <span>Cheveux fins : comment choisir ma coupe pour obtenir
                                                        plus...</span>
                </a>
              </p>
            </div>
          </div>
          <div class="articlePreview" data-tracking-label="Coloration cheveux gris : faut-il oser la tendance ?">
                            <span class="hrl 1321B44AC1CB464248431321B4424F484FC14ACB464F491E424543C443C3C51E4CC146C21E444AC3CB1E46481E4FC243C11E484A1ECB43494B4A4942433F4A222B2B2C1321B42A articleThumbnail">
                                            <img src="https://static1.jeanlouisdavid.com/articles/7/34/47/@/6972-adoptee-sur-les-podiums-la-coloration-g-article_preview-1.jpg"
                                                 alt="Coloration cheveux gris : faut-il oser la tendance ?">
                                            <div class="border"><img src="/web/skins/images/border_line.png"></div>
                                        </span>
            <div class="articleDescription">
              <p class="category">
                Coloration
              </p>

              <p class="articleTitle">
                <a href="/article/coloration-cheveux-gris-faut-il-oser-la-tendance_a3447/1">
                  <span>Coloration cheveux gris : faut-il oser la tendance ?</span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

